@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="alert alert-success" role="alert">
  Programacion Computacional II
</div>
    
</div>
